<h1>Welcome#index</h1>
<h1>Rode Rails db:seed para gerar as Páginas</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<ul>
  <% @pages.each do |page|%>
    <li> <%= link_to "#{page.title}", pages_show_path(page.title) %> </li>
  <% end %>
</ul>
<%= link_to 'Events', events_index_path(format: :json) %>
<%= link_to 'Sessions by users', sessions_by_user_index_path(format: :json) %>
